h2{
    margin: 10px;    
}


.container{
    display: flex;
    justify-content: center;
    height: 55vh;
    width: 100%;
    padding: 2rem;
    margin: auto;
    border: 1px solid gray
}


.contentBox{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    flex-direction: column;
}

.nameContent{
    width: 25rem;
    display: flex;
    text-align: start;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 23, 128, 0.281);
    border-radius: 5px;
    padding: 1rem;
}
